* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #89D2DC; 
    text-align: center;
    box-shadow: 1px 1px 5px black;
    padding: 18px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: bold;
    cursor: pointer;
}

.bar:hover {
    background-color: #466060;
    padding: 5px;
    border-radius: 5px;
}

#cabecalho {
    text-shadow: 2px 2px 5px black;
}

body {
    background-color: #F4D1AE;
}

#obs {
    background-color: #466060;
    border-radius: 10px;
    text-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 3px black;

}

.principal {
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.box {
    background-color: #492C1D;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    margin-top: 15px;
    justify-content: center;
    padding: 10px;
    box-shadow: 1px 1px 5px black;

}

h3 {
    color: white;
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 5px black;
}

#button {
    background-color: #60B2E5;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 110px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 1px 5px black;
    border: 0px;
}

p {
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #466060;
    text-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 3px black;
    padding: 18px;
}

@media (max-width: 575px) {
    header {width: 95%; margin: 100 10%;}
    .principal {width: 85%; height: 75% !important; margin: 0 10%}
    main {width: 80%; margin: 0 10%}
    .box {width: 70% !important; height: 50%;}
    #foto {width: 85% !important; height: 75% !important}
    .fotos {width: 53% !important; height: 53% !important}
    footer {width: 90%; margin: 100 10%;}
}

@media (max-width: 560px) {
    header {width: 95%; margin: 100 10%;}
    .principal {width: 82%; height: 70% !important; margin: 0 10%}
    main {width: 77%; margin: 0 10%}
    .box {width: 72% !important; height: 50%;}
    #foto {width: 82% !important; height: 72% !important}
    .fotos {width: 55% !important; height: 55% !important}
    footer {width: 95%; margin: 100 10%;}
}

@media (max-width: 520px) {
    header {width: 97%; margin: 0 10%; margin-left: -18px !important;}
    .principal {width: 80%; height: 65% !important; margin: 0 10%}
    main {width: 75%; margin: 0 10%}
    .box {width: 70% !important; height: 50%;}
    #foto {width: 80% !important; height: 70% !important}
    .fotos {width: 55% !important; height: 55% !important}
    footer {width: 93%; margin: 10 10%;}
}

@media (max-width: 350px) {
    header {width: 95%; margin: 10 10%;}
    .principal {width: 70%; height: 60% !important; margin: 0 10% !important;}
    main {width: 70%; margin: 0 10%}
    .box {width: 60% !important; height: 52%;}
    #foto {width: 75% !important; height: 70% !important}
    #button {width: 75%; font-size: 11px;}
    .fotos {width: 65% !important; height: 65% !important}
    footer {width: 91%; margin: 10 10%;}
}

@media (max-width: 349px) {
    header {width: 95%; margin: 10 10%;}
    .principal {width: 70%; height: 60% !important; margin: 0 10% !important;}
    main {width: 70%; margin: 0 10%}
    .box {width: 70% !important; height: 50%; font-size: 12px;}
    #foto {width: 75% !important; height: 70% !important}
    #button {width: 75%; font-size: 11px;}
    .fotos {width: 65% !important; height: 65% !important}
    footer {width: 90%; margin: 10 10%;}
}




